.button {
  padding: 12px;
  font-size: 16px;
  background-color: #87c73c;
  border-radius: 10px;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  transition: 0.2s;
  box-sizing: border-box;
}

.button:hover {
  background-color: #4a6e20;
  color: white;
  cursor: pointer;
}
